.links {
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

}
.box{
div.box {
    width:100%;
    overflow:auto;
    text-align: left;
  }
div.box div {
    width:33%;  
    float:left;
    text-align: left;
}


}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(208, 230, 238);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

a:link, a:visited {
  text-decoration: none;
  border-style: solid;
  padding: 10px;
  font-size: larger;
  text-align: center;
  border-width: 5px;
  background-color: #333;
  color: rgb(230, 67, 100);
}

a:hover, a:active {
  text-decoration: none;
  border-style: solid;
  padding: 10px;
  font-size: larger;
  text-align: center;
  border-width: 5px;
  color: #04AA6D;
}

img {
  width: 200px;
  height: 200px;
  float: right;

}